@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome.eot");
    src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da
}

a {
    color: #f0f0f0;
    text-decoration: none
}

a:hover {
    color: #000
}

.main,
.container>header {
    width: 90%;
    max-width: 69em;
    margin: 0 auto;
    padding: 0 1.875em 3.125em 1.875em
}

.container>header {
    padding: 2.875em 1.875em 1.875em
}

.container>header h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0;
    float: left;
    font-weight: 400
}

.container>header span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em
}

.container>header nav {
    float: right
}

.container>header nav a {
    display: block;
    float: left;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
    color: transparent;
    margin: 0 0.1em;
    border: 4px solid #47a3da;
    text-indent: -8000px
}

.container>header nav a:after {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 600%;
    top: 120%;
    text-align: right;
    right: 0;
    opacity: 0;
    pointer-events: none
}

.container>header nav a:hover:after {
    opacity: 1
}

.container>header nav a:hover {
    background: #47a3da
}

.main>section {
    max-width: 260px;
    width: 90%;
    margin: 0 auto
}

.main>section h2 {
    font-weight: 300;
    color: #ccc
}

.main>section button {
    border: none;
    background: #47a3da;
    color: #fff;
    padding: 1.5em;
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
    font-size: 0.8em
}

.main>section button:hover {
    background: #258ecd
}

.main>section button.active {
    background: #0d77b6
}

.main>section button.disabled {
    background: #aaa;
    pointer-events: none
}

.icon-drop:before,
.icon-arrow-left:before {
    font-family: 'fontawesome';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 2;
    text-align: center;
    color: #47a3da;
    -webkit-font-smoothing: antialiased;
    text-indent: 8000px;
    padding-left: 8px
}

.container>header nav a:hover:before {
    color: #fff
}

.icon-drop:before {
    content: "\e000"
}

.icon-arrow-left:before {
    content: "\f060"
}

.cbp-spmenu {
    background: #47a3da;
    position: fixed
}

.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6
}

.cbp-spmenu a {
    display: block;
    color: #555;
    font-size: 1.1em;
    font-weight: 300;
}

// .cbp-spmenu a:hover {
//     background: #258ecd
// }
// .cbp-spmenu a:active {
//     background: #afdefa;
//     color: #47a3da
// }
.cbp-spmenu-vertical {
    width: 445px;
    height: 100%;
    top: 0;
    z-index: 1000
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #555;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden
}

.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd
}

.cbp-spmenu-left {
    left: -240px
}

.cbp-spmenu-right {
    right: -445px
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
    box-shadow: -3px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.cbp-spmenu-top {
    top: -150px
}

.cbp-spmenu-bottom {
    bottom: -150px
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0px
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0
}

.cbp-spmenu-push-toright {
    left: 240px
}

.cbp-spmenu-push-toleft {
    left: -240px
}

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease
}

@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px
    }
    .cbp-spmenu-top {
        top: -110px
    }
    .cbp-spmenu-bottom {
        bottom: -110px
    }
}

@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px
    }
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px
    }
    .cbp-spmenu-right {
        right: -190px
    }
    .cbp-spmenu-push-toright {
        left: 190px
    }
}

.multipleurls {
    display: none
}

.overlay {
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: .333;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
}

.overlay img {
    position: relative;
    top: 50%;
    left: 50%
}

ul.breadcrumb {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(254, 254, 254, 1);
    top: 0;
}

.phantom-form {
    // margin-top: 50px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
    background: #FFF;
}

.phantom-form .input-group {
    margin-bottom: 20px
}

.phantom-form .col-md-12 {
    margin-bottom: 20px
}

input.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 100
}

h1,
h2 {
    font-weight: thin;
    color: #555
}

h3 {
    border: solid 1px #eee;
    font-weight: 800 !important;
    text-decoration: none;
    color: #555;
    padding: 15px;
    font-size: 16px;
    span {
        float: right;
    }
}

label {
    font-weight: normal;
    color: #555
}

.margin-top-100 {
    margin-top: 100px
}

.margin-top-50 {
    margin-top: 50px
}

.hidden {
    display: none
}

.breadcrumb li a {
    color: #555
}

.data p {
    color: #fff
}

.btn.btn-primary {
    background: #555;
    border: none
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background: #555
}

a.key {
    font-weight: 700
}

nav.cbp-spmenu {
    background: #FFF;
    overflow: scroll
}

.trigger {
    span {
        transition: all .3s ease;
    }
}

.trigger.active {
    span {
        transition: all .3s ease;
        transform: rotate(180deg);
    }
}

.jumbotron {
    top: 0;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}

.inputCont {
    display: none;
}

body {
    background: url("/images/geometry.png");
    background-attachment: fixed;
}